[user]
	email = lucianchauvin@gmail.com
	name = Lucian Chauvin
	signingkey = 39817AD03A4ADDD4D388985C44E6889FAF932B0B
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
	default = simple
[safe]
	directory = /home/public/datathon/Fairy-Stockfish/.git
	directory = /home/public/datathon/Fairy-Stockfish/.git
	directory = /home/public/datathon/Fairy-Stockfish/.git
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d $LOCAL $REMOTE"
[pull]
	rebase = false
[submodule]
	recurse = true
